.about-container, .login-container, 
.signup-container{
    margin-top: 180px;
}

.chats-container{
    margin-top: 100px;
}

.signup-btn, .login-btn{
    text-decoration: none;
}

#message-form{
    height: 100px;
    resize: none;
}

.conversation-container{
    max-height: 300px;
    overflow: auto;
}

.inbox-container{
    max-height: 600px;
    overflow: auto;
}